

h1 {
    font-size: 45px;
    text-align: center;
}

nav ul {
    background-color: green;
    padding: 10px 0px 10px 5px;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
}

#titulo-artigo-principal{
    text-align: center;
}

#artigo-principal {
    background-color: #F8F8F8;
    width: 83%;
    display: inline-block;
    padding: 1%;
}

#conteudo-adicional {
    width: 14%;
    height: 500px;
    background-color: #C0C0C0;
    display: inline-block;
    vertical-align: top;

}

aside h4 {
    text-align: center;
}

aside ul{
    padding-left: 10%;
    text-align: left;
}

footer {
    background-color: #696969;
    color: white;
    text-align: center;
    font-weight: bold;
}