.pag-pesquisa {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.area-form-pesquisa {
  align-items: center;
  display: flex;
  height: 30vh;
  justify-content: center;
  width: 60%;
}

.form-pesquisa {
  display: flex;
  height: 30%;
  justify-content: space-between;
  width: 80%;
}

.label-input-pesquisa {
  width: 100%;
}

.input-pesquisa {
  height: 85%;
  margin-right: 40px;
  width: 92%;
}

.button-pesquisa {
  font-size: medium;
  height: 100%;
  padding: 5px 8px;
}
