/*Personagens pertencentes à Nintendo©
1 - Posicione o Mário acima do Goomba.
  *COLOCAR MÁRIO COMO POSITION: ABSOLUTE
  *BOWSER FICOU POR BAIXO TAMBÉM, POR ISSO COLOQUEI PRA ELE: margin-left: 50% 
  *TEXTO E BALOON TAMBÉM, POR ISSO COLOQUEI MARGIN PRA ELES
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser.*/

body {
    background-color: grey;
}

.super-mario {
  width: 200px;
  position: absolute
}

.goomba {
  width: 100px;
}

.baloon {
  margin-top: 20%;
}

.speach {
  font-size: 25px;
  margin-top: 20%;
}

.bowser {
  width: 200px;
  margin-left: 50%;
}