/*Personagens pertencentes à Nintendo©
1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser.*/

/*
  Solução: 
  Todos os elementos como position: absolute
  z-index para todos, sendo o goomba um numero menor que o mario e o baloon, menor que o speach
  adequar todos com 'margin' (usei margin com %)
  unidade de medida de todos os width foi trocada de 'px' para %
*/

.super-mario {
  /*width: 200px;*/
  width: 26%;
  position: absolute;
  z-index: 2;
}

.goomba {
  /* width: 100px; */
  width: 11%;
  position: absolute;
  z-index: 1;
}

.baloon {
  width: 30%;
  position: absolute;
  top: 7%;
  left: 38%;
  z-index: 4;
}

.speach {
  width: 30%;
  font-size: 23px;
  position: absolute;
  top: 18%;
  left: 43%;
  z-index: 5;
}

.bowser {
  /* width: 200px; */
  width: 30%;
  position: absolute;
  left: 65%;
  top: 35%;
  z-index: 3;
}